.container {
  background: #fff;
  border-radius: 20px;
  padding: 20px;

  :global {
    .container {
      display: flex;

      .item {
        width: 200px;
        margin-right: 20px;
      }
    }
  }
}